* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(24, 35, 19, 0.2);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  position: relative;
  width: 320px;
  height: 440px;
  margin: 20px;
}
.wrapper {
  background-color: white;
  height: 100%;
  box-shadow: 0 0 0px rgb(24, 15, 59);
  border-radius: 15px;
}
.upside {
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px 15px 0 0;
  border: 4px double black;
}
.downside {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 0 0 15px 15px;
  border: 4px double black;
}
.downside span {
  padding: 4px;
}

.btn-space {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.btn {
  width: 100px;
  height: 35px;
  border-radius: 23px;
}
span {
  flex-direction: row;
}
img {
  max-width: 300px;
  max-height: 180px;
}
.name-space {
  margin-top: 10px;
}
